{% extends 'base.html' %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
<body>
    {% for section in profile.profile %}
    <div class="external-wrapper primary-bg-color">
        <div class="section-title title-font fifth-color" id="{{ section.anchor }}">{{ section.section_title }}</div>
        <div class="internal-wrapper">
            {% for content in section.section_content %}
            <div class="section-subtitle subtitle-font fifth-bg-color primary-color">{{ content.title }}</div>
            <div class="section-content forth-bg-color primary-color">{{ content.text }}</div>
            {% endfor %} 
        </div>
    </div>
    {% endfor %}
</body>
{% endblock %}