{% extends "base.html" %}
{% macro render_field(field) %}
  <dt class="title-font">{{ field.label }}:
  <dd style="padding: 20px; margin-left: 0px;">{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class="errors">
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
<body>
<div class="single-wrapper primary-bg-color">
<form class="third-color" method="post" id="add-task">
  <dl>
    {{ render_field(form.desc) }}
    {{ render_field(form.status) }}
    {{ render_field(form.date) }}
  </dl>
  {% if page.title == "Add a Task" %}
  <p class="title-font">
    Add the new task  
    <button type="submit" class="third-bg-color">
      <i class="material-icons md-24 primary-color">add</i>
    </button>
  </p>
  {% else %}
  <p class="title-font">
    Edit the task  
    <button type="submit" class="third-bg-color">
      <i class="material-icons md-24 primary-color">edit</i>
    </button>
  </p>
  {% endif %}
</form>
</div>
</body>
{% endblock %}