{% extends 'base.html' %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
<div class="single-wrapper primary-bg-color">
    <p class="third-color">{{ page.text }}</p>
</div>
{% endblock %}