{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
<body>
    {% for per_status in tasks %}
    <div class="external-wrapper primary-bg-color">
        <div class="section-title title-font fifth-color">{{ per_status.status }}</div>
        {% if per_status.tasks|length == 1 %}
            <div class="internal-wrapper one-col">
        {% elif per_status.tasks|length == 2 %}
            <div class="internal-wrapper two-col">
        {% elif per_status.tasks|length == 3 %}
            <div class="internal-wrapper three-col">
        {% elif per_status.tasks|length == 4 %}
            <div class="internal-wrapper four-col">
        {% endif %}
            {% for task in per_status.tasks %}
                <div class="section-subtitle subtitle-font fifth-bg-color primary-color">{{ task.date }}
                    <a href="/kanban/edit/{{task.id}}">
                        <button type="submit" class="fifth-bg-color" style="float: right;">
                            <i class="material-icons md-24 primary-color">edit</i>
                        </button>
                    </a>
                </div>
                <div class="section-content forth-bg-color primary-color">{{ task.desc }}</div>
            {% endfor %}
            </div> 
        </div>
    </div>
    {% endfor %}
</body>
{% endblock %}