{% extends 'base.html' %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
<body>
    {% for section in profile.profile %}
    <div class="external-wrapper primary-bg-color">
        <div class="section-title fifth-color" id="{{ section.anchor }}">{{ TODO }}</div>
        <div class="internal-wrapper">
            {% for content in TODO %}
            <div class="section-subtitle fifth-bg-color primary-color">{{ TODO }}</div>
            <div class="section-content forth-bg-color primary-color">{{ TODO }}</div>
            {% endfor %} 
        </div>
    </div>
    {% endfor %}
</body>
{% endblock %}