.primary-bg-color {
    background-color: #0f5257;
}
.primary-color {
    color: #0f5257;
}

.secondary-bg-color {
    background-color: #0b3142;
}
.secondary-color {
    color: #0b3142;
}

.third-bg-color {
    background-color: #9c92a3;
}
.third-color {
    color: #9c92a3;
}

.forth-bg-color {
    background-color: #c6b9cd;
}
.forth-color {
    color: #c6b9cd;
}

.fifth-bg-color {
    background-color: #d6d3f0;
}
.fifth-color {
    color: #d6d3f0;
}

.button {
    border: none;
}

dt {
    font-family: "Pacifico", cursive;
    font-weight: 100;
    font-size: 40px;
}
dd {
    padding: 20px;
    margin-left: 0px;
}
input {
    height: 30px;
    width: 300px;
    background-color: #d6d3f0;
    border: rounded;
    border-style: ridge;
    font-family: "Merriweather", serif;
    font-style: normal;
}

select {
    height: 30px;
    width: 300px;
    background-color: #d6d3f0;
    border: rounded;
    border-style: ridge;
    font-family: "Merriweather", serif;
    font-style: normal;
}

ui {
    list-style-type: none;
}

li {
    list-style-type: none;
    text-indent: -1.4em;
}

li:before
{
    font-family: "Material Icons";
    font-size: 120%;
    content: "\e002";
	float: left;
	width: 1.4em;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.nav-bar {
    overflow: hidden;
}

.nav-bar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    color: #9c92a3;
    text-decoration: none;
}
  
.nav-bar a:hover {
    background-color: #0f5257;
    color: #9c92a3;
  }
  
.nav-bar a.active {
    background-color: #9c92a3;
    color: #0f5257;
  }
  
.single-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.external-wrapper {
    display: grid;
    margin: 0px;
    padding: 20px;
    grid-template-columns: 80%;
    grid-template-columns: minmax(500px, 1000px);
    grid-gap: 20px;
    justify-content: center;
}

.internal-wrapper {
    display: grid;
    margin: 20px;
    grid-template-rows: minmax(100% 100%);
    grid-column-gap: 50px;
}

.one-col {
    grid-template-columns: 25%;
}
.two-col {
    grid-template-columns: 25% 25%;
}
.three-col {
    grid-template-columns: 25% 25% 25%;
}
.for-col {
    grid-template-columns: 25% 25% 25% 25%;
}

.section-title {
    font-family: "Pacifico", cursive;
    font-weight: 100;
    font-size: 40px;
    padding: 10px;
    justify-self: center;
}

.section-subtitle {
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100%;
    width: 100%;
    padding: 10px;
    font-family: "Mali", cursive;
    font-style: bold;
    justify-self: center;
}

.section-content {
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-family: "Merriweather", serif;
    font-style: normal;
    justify-self: center;
}