html, body, .reveal div, .reveal span, .reveal p, .reveal blockquote, .reveal pre,
.reveal a, .reveal cite, .reveal code, .hljs {
    font-size: 28px;
}

.reveal code {
    color: #d33682;
    background: #3f3f3f;
}

.reveal ul {
    display: block;
}

.reveal blockquote {
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
}

.reveal .controls .controls-arrow::before, .reveal .controls .controls-arrow::after {
    width: 1.5em;
    height: 0.5em;
}